.navigation-horizontal {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  z-index: 9999;
}

.nav-item-name {
  display: inline;
  margin-left: 8px;
}

